@font-face {
    font-family: 'CR';
    src: url('./font/Circe-Regular.ttf');
}
@font-face {
    font-family: 'GB';
    src: url('./font/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'GEB';
    src: url('./font/Gilroy-ExtraBold.ttf');
}
@font-face {
    font-family: 'GL';
    src: url('./font/Gilroy-Light.ttf');
}
@font-face {
    font-family: 'GR';
    src: url('./font/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'GSB';
    src: url('./font/Gilroy-SemiBold.ttf');
}
