@font-face {
    font-family: 'circe_bold';
    src: url('./font/circe_bold.woff');
}
@font-face {
    font-family: 'circe';
    src: url('./font/circe.woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('./font/gilroy-bold.woff');
}
@font-face {
    font-family: 'gilroy-regular';
    src: url('./font/gilroy-regular.woff');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('./font/gilroy-semibold.woff');
}
@font-face {
    font-family: 'gilroy-light';
    src: url('./font/gilroy-ultralight.woff');
}

