.nav__lang {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'GSB';
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #979BAD;


        &::after {
            content: '';
            display: block;
            opacity: 0;
            background: #388AF3;
            width: 7px;
            height: 7px;
            border-radius: 50%;
        }

        &.active::after {
            opacity: 1;
        }

        &.active {
            color: #388AF3;
        }
    }
}