.container {
    max-width: 1818px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;

    &-span {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #303030;

        & span {
            font-weight: 600;
        }
    }
}

@media(max-width: 992px) {
     .container {
        max-width: 835px;
        width: 100%;
     }
}
@media(max-width: 414px) {
     .container {
        max-width: 332;
        width: 100%;
     }
}